.group-8,
.group-8 * {
  box-sizing: border-box;
}
.group-8 {
  height:2945px;
  position: relative;
  width: 100%;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  left: 1px;
  top: 0px;
}
.hero-38 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 835px;
  position: relative;
  overflow: hidden;
}
.hero {
  width: 100%;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.image-1 {
  width: 100%;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.gradient-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0.07648601313121617%,
    rgba(1, 1, 27, 0.3) 41.892483830451965%,
    rgba(14, 49, 33, 1) 100%
  );
  width: 100%;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-14 {
  background: rgba(255, 255, 255, 0.09);
  padding: 33px 30px 33px 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 468px;
  position: absolute;
  left: 106px;
  top: 418px;
  backdrop-filter: blur(20px);
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #404b5a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-29 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.meet-our-team-of-exp {
  color: #e5e7eb;
  text-align: left;
  font-family: "AnekBangla-SemiBold", sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.let-s-talk-about-how {
  color: #9c9c9c;
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  width: 384px;
}
.button {
  background: var(--primary, #0e3121);
  border-style: solid;
  border-color: var(--primary, #0e3121);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 290px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text-lg {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* -webkit-text-stroke: 1px #000000; */
}
.icon-huge-arrow-right-forward {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.btn-custom-color1 {
  background-color: #0E3121;
  border-radius: 1px;
}
.btn-custom-color1:hover{
  background-color: #0E3121;
}
