.container,
.container * {
  box-sizing: border-box;
}
.container {
  padding: 96px 0px 96px 0px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  max-width: 1280px;
  position: relative;
}
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 768px;
  position: relative;
}
.frame-40 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-6 {
  flex-shrink: 0;
  width: 50px;
  height: 45.95px;
  position: relative;
  overflow: visible;
}
.heading {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
}
.supporting-text {
  color: var(--text-body, #4b5563);
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cards {
  background: var(--background-bg-primary, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--border-border-secondary, #e5e7eb);
  border-width: 1px;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 280px;
  max-width: 384px;
  position: relative;
  overflow: hidden;
}
.content2 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.star-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.star-background {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background2 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background3 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background4 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background5 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star5 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.supporting-text2 {
  color: var(--text-body, #4b5563);
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.avatar-labelled {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  background: var(--avatar-women-breanna-butler, undefined);
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.label-and-sublabel {
  flex-shrink: 0;
  width: 115px;
  height: 44px;
  position: static;
}
.label {
  color: var(--text-heading-primary, #111827);
  text-align: left;
  font-family: var(
    --body-small-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-semibold-font-size, 16px);
  line-height: var(--body-small-semibold-line-height, 24px);
  font-weight: var(--body-small-semibold-font-weight, 600);
  position: absolute;
  left: 64px;
  top: 2px;
}
.sublabel {
  color: var(--text-body, #4b5563);
  text-align: left;
  font-family: var(
    --caption-large-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--caption-large-regular-font-size, 14px);
  line-height: var(--caption-large-regular-line-height, 20px);
  font-weight: var(--caption-large-regular-font-weight, 400);
  position: absolute;
  left: 64px;
  top: 26px;
}
.star-background6 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star6 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background7 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star7 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background8 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star8 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background9 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star9 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background10 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star10 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.avatar2 {
  background: var(--avatar-men-george-dean, undefined);
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.label-and-sublabel2 {
  flex-shrink: 0;
  width: 129px;
  height: 44px;
  position: static;
}
.star-background11 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star11 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background12 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star12 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background13 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star13 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background14 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star14 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.star-background15 {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.5%;
  top: 2.5%;
  overflow: visible;
}
.star15 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.avatar3 {
  background: var(--avatar-men-robert-nguyen, undefined);
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.label-and-sublabel3 {
  flex-shrink: 0;
  width: 117px;
  height: 44px;
  position: static;
}
