.navigation,
.navigation * {
  box-sizing: border-box;
}
.navigation {
  background: rgba(255, 255, 255, 0.06);
  border-style: solid;
  border-color: #888888;
  border-width: 0px 0px 1px 0px;
  padding: 23px 105px 23px 105px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 106px;
  position: relative;
  backdrop-filter: blur(10px);
}
.navigation2 {
  flex-shrink: 0;
  width: 1229px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.logo-putih-1 {
  width: 140px;
  height: 57px;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.button {
  border-style: solid;
  border-color: var(--grays-white, #ffffff);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 40px;
  position: absolute;
  right: 22px;
  top: 50%;
  translate: 0 -50%;
  box-shadow: var(
    --button-effect-box-shadow,
    inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16),
    inset 0px 8px 16px 0px rgba(255, 255, 255, 0.2)
  );
  overflow: hidden;
}
.text {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "AnekBangla-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.frame-13 {
  width: 1240px;
  height: 60px;
  position: absolute;
  left: 200px;
  top: 59px;
  overflow: hidden;
}
.navbar {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  overflow: hidden;
}
.base-navbar-menu {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.inner {
  background: rgba(14, 49, 33, 0.3);
  border-radius: var(--numbers-radius-base, 8px);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.nav-menu {
  color: var(--miscellaneous-text-field-bg, #ffffff);
  text-align: center;
  font-family: "AnekBangla-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.inner2 {
  border-radius: var(--numbers-radius-base, 8px);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.nav-menu2 {
  color: var(--miscellaneous-text-field-bg, #ffffff);
  text-align: center;
  font-family: "AnekBangla-Medium", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.icon-feather-chevron-dropdown {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
